@import url('https://fonts.googleapis.com/css?family=Open+Sans:700|Roboto:400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

@font-face {
  font-family: 'Fixedsys Excelsior 3.01';
  src: url(FSEX300.woff);
}

/* GENERAL */

/* center */
.center{display: flex;align-items: center;justify-content: center;}

/* titres */
h1 {font-family: 'Press Start 2P', cursive; font-size: 25px}
h2 {font-family: 'Press Start 2P', cursive; font-size: 20px}
h3 {font-family: 'Press Start 2P', cursive; font-size: 17px}
h4 {font-family: 'Press Start 2P', cursive; font-size: 15px}
h5 {font-family: 'Press Start 2P', cursive; font-size: 12px}
h6 {font-family: 'Press Start 2P', cursive; font-size: 10px}

/* paragraphes */
p{font-family:'Fixedsys Excelsior 3.01';font-size: 16px;}
.p-large{font-family:'Fixedsys Excelsior 3.01';font-size: 20px;}
.p-small{font-family:'Fixedsys Excelsior 3.01';font-size: 13px;}
.text-n{font-family:'Fixedsys Excelsior 3.01';font-size: 16px;}
tr{font-family:'Fixedsys Excelsior 3.01';font-size: 16px;}
td{font-family:'Fixedsys Excelsior 3.01';font-size: 16px;}
th{font-family:'Fixedsys Excelsior 3.01';font-size: 16px;}

/* shadows */
.pink-shadow{text-shadow: 2px 2px #FC5C5C}
.violet-shadow{text-shadow: 2px 2px #8752DC}


/* BOUTTONS */

/* large */
.button-lg{font-family:'Fixedsys Excelsior 3.01';font-weight:normal; cursive; color: #FFFFFF; width: 300px; height: 40px; background-color: #FC5C5C; border: none;}
.button-lg:hover{box-shadow: 5px 5px #8752DC; transition-duration: 0.1s}
.button-lg:active{background-color: #FC5C5C; box-shadow: 2px 2px #8752DC; transition-duration: 0.1s; background-color: #ffabab}

/* small */
.button-sm{font-family:'Fixedsys Excelsior 3.01';font-weight:normal; cursive; color: #FFFFFF; width: 200px; height: 40px; background-color: #FC5C5C; border: none;}
.button-sm:hover{box-shadow: 5px 5px #8752DC; transition-duration: 0.1s}
.button-sm:active{background-color: #FC5C5C; box-shadow: 2px 2px #8752DC; transition-duration: 0.1s; background-color: #ffabab}


/* LES LISTES */
ul {font-family:'Fixedsys Excelsior 3.01';font-weight:normal; cursive; list-style-type: none; font-size: 19px; margin: 0;padding-left: 10px}
li{font-family:'Fixedsys Excelsior 3.01';font-weight:normal; cursive;font-size: 16px; padding-left: 10px;}
ol {font-family:'Fixedsys Excelsior 3.01';font-weight:normal; cursive; list-style-type: none; font-size: 19px; margin: 0;padding-left: 10px}


/* COULEURS */
/* Text-color */
.text-primaryy{color: #FC5C5C;} /* ROSE */
.text-secondaryy { color: #8752DC; } /* VIOLET */
.text-white { color: #FFFFFF; }
.text-success { color: #5fdf6b; }
.text-dark { color: #212121; }
.text-medium-light { color: #393e41; }
.text-light { color: #a3a7a9; }

/* Background-color */

.primary { background: #FC5C5C; } /* ROSE */
.secondary { background: #8752DC; } /* VIOLET */
.dark-blue { background-color: #204349; }
.warning { background-color: #fc825c;}
.danger { background-color: #ff5050; }
.success { background-color: #5fdf6b; }
.info { background-color: #5dbcf6; }


/* NAVBAR */

a.brand-nav{color: white; font-family: 'Press Start 2P', cursive; font-size: 19px; margin-right: 15px; margin: 10}
a.brand-nav:hover{text-decoration: none; text-shadow: 2px 2px #FC5C5C;}
a.link-nav{font-family:'Fixedsys Excelsior 3.01';font-weight:normal; font-size: 19px; cursive; text-decoration: none; color: #FFFFFF; opacity: 0.5; margin: 15 15 15 15;}
a.link-nav:hover{text-decoration: none; color: #FFFFFF; opacity: 1; text-shadow: 2px 2px #FC5C5C;}

.fade_ok{
  -webkit-animation: fade_ok 1s infinite ;
  animation: fade_ok 1s infinite ;
  -moz-animation: fade_ok 1s infinite;
  -o-animation: fade_ok 1s infinite;
}

@-webkit-keyframes fade_ok {
0% {opacity: 0.5} 
100%{opacity: 0.5}
}

@-moz-keyframes fade_ok {
0% {opacity: 0.5} 
100%{opacity: 0.5}
}

@-o-keyframes fade_ok {
0% {opacity: 0.5} 
100%{opacity: 0.5}
}

.fade:hover {
  -webkit-animation: fade 0.5s infinite ;
  animation: fade 0.5s infinite ;
  -moz-animation: fade 0.5s infinite;
  -o-animation: fade 0.5s infinite;
}

@-webkit-keyframes fade {
0% {opacity: 1} 
50%{opacity: 0.3}
100%{opacity: 1}
}

@-moz-keyframes fade{
0% {opacity: 1} 
50%{opacity: 0.3}
100%{opacity: 1}
}

    }
@-o-keyframes fade {
0% {opacity: 1} 
50%{opacity: 0.3}
100%{opacity: 1}
}

/* FOOTER */

#footer{font-family:'Fixedsys Excelsior 3.01';font-weight:normal;margin-left: 15%; height: 20%; width: 80%;}
.list-unstyled{display: flex;}
a.link-footer{color: #FFFFFF; margin: 10 10 10 0;}
a.link-footer:hover{text-decoration: none; color: #FFFFFF; opacity: 1; text-shadow: 2px 2px #FC5C5C;}
.animation{color: #FFFFFF; margin: 10 10 10 0; font-size: 15px}

.animation:before{
    content: 'Original Text';
    animation-name: head;
    animation-duration: 2s;
    animation-iteration-count: infinite;}

@keyframes head {
    0% {text-shadow: 2px 2px #FC5C5C;; opacity:1; content: "Retrouve"}
    25% {font-size:100%; opacity:1; content: "moi"}
    50% {font-size:100%; opacity:1; content: "sur Github !"}
    75% {font-size:100%;opacity:1; content: ":)"}
    100% {text-shadow: 1px 2px #FC5C5C;;opacity:1; content: "yeahhhh !"}}


/* FORM */

.form-group {width: 50%; margin-top: 10%;}
.form-group-i {width: 50%; margin-top: 5%;}
.form {font-family:'Fixedsys Excelsior 3.01';font-weight:normal; cursive; color: #FFFFFF}
.title-forme{color: white; font-family: 'Press Start 2P', cursive; font-size: 25px; text-shadow: 2px 2px #FC5C5C;text-align: center}
.title-forme:hover{text-shadow: 2px 2px #8752DC;text-align: center}

.subtitle-forme{font-family:'Fixedsys Excelsior 3.01';font-weight:normal; cursive; text-decoration: none; color: #FFFFFF; font-size: 16px; text-align: center}
.inside-form { width: 500px;height: 40px;background-color: #212121; color: #FFFFFF; box-shadow: 2px 2px #8752DC; border-radius: 1px; border-style: none;padding: 0 0 0 20; margin: 0 0 30 0}
.inside-form:hover { box-shadow: 5px 5px #FC5C5C; border-radius: 1px; transition-duration: 0.1s}



textarea:focus, input:focus{
    outline: none;
}

button:focus {outline:0;}

/* BANNER */

.banner-large{margin: 60 0 0 0; height: 70%; background-color:#212121; background-image: url(https://www.imgbase.info/images/safe-wallpapers/miscellaneous/8_bit/42843_8_bit.jpg);  background-repeat: no-repeat;background-size: 1300px;}
.banner-large-i{margin: 0; height: 70%; background-color:#212121; background-image: url(https://www.imgbase.info/images/safe-wallpapers/miscellaneous/8_bit/42843_8_bit.jpg);  background-repeat: no-repeat;background-size: 1300px;}
.banner-sm{margin: 60 0 0 0; height: 50%; background-color:#212121; background-image: url(https://www.imgbase.info/images/safe-wallpapers/miscellaneous/8_bit/42843_8_bit.jpg);  background-repeat: no-repeat;background-size: 1300px;}
.banner-title{text-align: center; color: #FFFFFF; padding:150 0 0 0; text-shadow: 2px 2px #FC5C5C}
.sub-banner{color: #FFFFFF; text-align: center; font-size: 19px}


.sub-banner:before{
    content: 'Original Text';
    animation-name: p;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes p {
    0% {; opacity:1; content: "Le meilleur site pour reserver un event"}
    25% {font-size:100%; opacity:1; content: "Le meilleur site pour creer un event"}
    50% {font-size:100%; opacity:1; content: "Le meilleur site pour organiser une soiree"}
    75% {font-size:100%;opacity:1; content: "Le meilleur site pour feter un evenement"}
    100% {font-size:100%; opacity:1; content: "yeahhhh !"}
}


/* CARDS */

.center-card{display: flex; justify-content: space-between; margin: 3% 10% 0% 10%}
.card:hover{position: relative;box-shadow: 5px 5px #212121; transition-duration: 0.2s}


/* COMMENTS */

.comment{padding: 0 10 10 20; width: 470px;}
.center-comments{ margin-left: 30%}
.down-text{margin: 10 10 15 10; }
.form-control{width: 400px; height: 50px; background-color: white}
.form-control:focus{background-color: white}
.comment-p{margin-left: 50px;}
.comment-d{margin-left: 300px;}

/* EVENTS */ 


.main-div-1{display: flex; margin: 20px 20px 0px 20px; height: 400px;}
.div-head-1{width: 30%; padding: 30 30 30 30}
.div-head-2{width: 70%; background-image: url(https://www.imgbase.info/images/safe-wallpapers/miscellaneous/8_bit/42843_8_bit.jpg);  background-repeat: no-repeat;background-size: 900px; }
.down-title-event{margin-top: 150px}
.text-prez{text-align: left; line-height: 2.5;}

.icon-pixel{-webkit-filter: invert(50%); margin-left: 15px; transition-duration: 0.2s}
.icon-pixel:hover{-webkit-filter: invert(100%); box-shadow: 2px 2px #FC5C5C: transition-duration: 0.2s}
.icon-pixel:active{-webkit-filter: invert(50%); }
.icon-pixel-simple{-webkit-filter: invert(100%);}

.main-div-2{display: flex;; height: 600px;}
.div-body-1{width: 30%; padding: 80 50 50 50; }
.div-body-2{width: 70%; padding: 80 200 100 100; }
